@using UACloudTwin.Models

@model ADTModel

@{
    ViewData["Title"] = "Setup";
}
<h1>@ViewData["Title"]</h1>

<div class="row browser_top_container">
    @using (Html.BeginForm("Login", "ADT"))
    {
    <div class="browser_connect_selection_textbox">
        <p>
            This app sits between an Azure IoT/Event Hub and an Azure Digital Twins service and translates OPC UA messages to digital twins.<br/>
            <b>Please ensure you have enabled and added this app's managed identity to the "Azure Digital Twins Data Owner" role permissions of your ADT service instance!</b><br />
        </p>
        <p>
            Azure Digital Twins service instance Url (format: https://YourADTInstanceName.api.YourAzureRegionName.digitaltwins.azure.net)<br />
            @Html.TextBox("instanceUrl", null, new { style = "width:100%;" })<br />
        <p />
        <p>
            Azure Event Hub connection string (format: Endpoint=sb://theNamespace.servicebus.windows.net/;SharedAccessKeyName=theName;SharedAccessKey=theKey;EntityPath=theTopic)<br />
            @Html.TextBox("endpoint", null, new { style = "width:100%;" })<br />
        <p />
        <p>
            <input id="uploadButton" class="btn btn-primary btn_browser" type="submit" value="Connect">
        <p />
        <p>
            <b>@Model.StatusMessage</b>
        </p>
    </div>
    }
 </div>
